body {
    background-color: rgb(211, 216, 211);
}

#botao {
    background-color: rgb(54, 54, 207);
    border-style: solid black;
    color: white;
    padding: 20px;
    margin-top: 15px;
    width: 150px;
    height: 50px;
    font-size: large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-bottom: 0px;
}

#header {
    text-align: center;
    background-color: white;
    padding: 50px;
    border-radius: 5px;
    margin-left: 80px;
    margin-right: 80px;
}

#titulo {
    margin-top: -20px;
}

#dados-pessoais {
    background-color: white;
    border-radius: 5px;
    margin-left: 80px;
    margin-right: 80px;
    padding: 40px;
}

#cargo {
    background-color: white;
    border-radius: 5px;
    margin-left: 80px;
    margin-right: 80px;
    padding: 30px 30px 15px 30px;
    
}

#enviar {
    position: relative;
    font-size: 37px;
    top: -19px;
    left: -2px;
}