#habilidades {color: red;}
    #lista {background-color: black; color: white; font-weight: bold;
    line-height: 40px; text-decoration: underline;}
    body {background-color: aliceblue;}
    #lista2 {line-height: 40px;}
    #titulo {font-family: Verdana, Geneva, Tahoma, sans-serif;}
    .final {background-color: darkkhaki;}
    .rolagem {width: 80%;height: 400px; overflow: auto;}